step-function-spike/state-machine/simple.asl.json
{
  "Comment": "Simple state machine calling some lambdas",
  "StartAt": "Check requested operation",
  "States": {
    "Check requested operation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.operation",
          "StringEquals": "multiply",
          "Next": "multiply function"
        },
        {
          "Variable": "$.operation",
          "StringEquals": "square",
          "Next": "square function"
        },
        {
          "Variable": "$.operation",
          "StringEquals": "add",
          "Next": "add function"
        }
      ],
      "Default": "square function"
    },
    "multiply function": {
      "Type": "Task",
      "Resource": "${MultiplyFunction}",
      "ResultPath": "$.calculationResult",
      "Next": "process the calculation result"
    },
    "square function": {
      "Type": "Task",
      "Resource": "${SquareFunction}",
      "ResultPath": "$.calculationResult",
      "Next": "process the calculation result"
    },
    "add function": {
      "Type": "Task",
      "Resource": "${AddFunction}",
      "ResultPath": "$.calculationResult",
      "Next": "process the calculation result"
    },
    "process the calculation result": {
      "Type": "Parallel",
      "End": true,
      "ResultPath": "$.finalChecks",
      "Branches": [
        {
          "StartAt": "is it bigger than 10",
          "States": {
            "is it bigger than 10": {
              "Type": "Task",
              "Resource": "${BiggerThanFunction}",
              "Parameters": {
                "calculationResult.$": "$.calculationResult"
              },
              "ResultPath": "$.result.isItBiggerThan10",
              "OutputPath": "$.result",
              "End": true
            }
          }
        },
        {
          "StartAt": "is it even",
          "States": {
            "is it even": {
              "Type": "Task",
              "Resource": "${IsItEvenFunction}",
              "Parameters": {
                "calculationResult.$": "$.calculationResult"
              },
              "ResultPath": "$.result.isItEven",
              "OutputPath": "$.result",
              "End": true
            }
          }
        }
      ]
    }
  }
}
