step-function-spike/state-machine/simple.asl.json
{
  "Comment": "Simple state machine calling some lambdas",
  "StartAt": "Check input values",
  "States": {
    "Check input values": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.operation",
          "StringEquals": "multiply",
          "Next": "multiply function"
        },
        {
          "Variable": "$.operation",
          "StringEquals": "square",
          "Next": "square function"
        },
        {
          "Variable": "$.operation",
          "StringEquals": "add",
          "Next": "add function"
        }
      ],
      "Default": "square function"
    },
    "multiply function": {
      "Type": "Task",
      "Resource": "${MultiplyFunction}",
      "ResultPath": "$.calculation",
      "End": true
    },
    "square function": {
      "Type": "Task",
      "Resource": "${SquareFunction}",
      "ResultPath": "$.calculation",
      "End": true
    },
    "add function": {
      "Type": "Task",
      "Resource": "${AddFunction}",
      "ResultPath": "$.calculation",
      "End": true
    }
  }
}
